.sourceName {
    color: rgb(38, 38, 38);
    font-size: 14px;
}

.row-options {
    margin-left: -16px;
    margin-right: -26px;
}

.title {
    margin-top: -3px;
}

.header {
    margin-top: -9px;
}