<ion-header >
  <ion-toolbar color="secondary">
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Updating Info...">
    </ion-refresher-content> 
    </ion-refresher>
    <ion-grid>
      <ion-row class="ion-justify-content-center" *ngIf="isLoading" >
      <ion-col size="2">
        <ion-spinner
          class="loading"
          name="crescent"          
        ></ion-spinner>
      </ion-col>
    </ion-row>
    </ion-grid>

    <div *ngIf="!isLoading">
      <app-news [articles]="articles"></app-news>
    </div>

<ion-infinite-scroll threshold="100px" (ionInfinite)="fetchMoreData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more news..."
  >
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
